* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width:900px) {
    html {
        font-size: 55%;
    }
}

main {
    margin: 0 auto;
    width: 100%;
}

:root {    
--font1: Raleway, sans-serif;
--font2: Poppins, sans-serif;
--color-red: #BE3144;
--color-white: #fff;
--color-blue: #45567d;
--color-gray: #303841;
}

.main-title {
    font-family: var(--font1);
    margin-bottom: 13px;
    font-size: 5rem;
    color: var(--color-white);
}

/* HEADER */

#site-header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-red);
    z-index: 999;
}

#logo {
    width: 60vw;
}

#logo-img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#navbar ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navbar ul li {
    font-weight: 400;
    font-size: 2.3rem;
}

#navbar ul li a {
    display: block;
    padding: 4rem;
    color: var(--color-white);
    font-family: var(--font2);
}

#navbar ul li a:hover {
    background-color:var(--color-blue);
}

/* WELCOME SECTION */

#welcome-section {
    background-color: var(--color-gray);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#welcome-section p {
    font-family: var(--font2);
    font-size: 2.5rem;
    font-style: italic;
    color: var(--color-red);
    margin-bottom: 12px;
}

#welcome-section p:nth-of-type(2) {
    color: var(--color-white);
}

/* WORK SECTION */

#work {
    background-color: var(--color-blue);
    text-align: center;
    padding: 10rem 2rem;
}

#projects-title {
    font-family: var(--font1);
    font-size: 4.25rem;
    color: var(--color-white);
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.3rem solid var(--color-white);
    padding-bottom: 10px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    background: var(--main-gray);
}


.card-image {
    height: calc(100% - 5.8rem);
    width: 100%;
    object-fit: cover;
    display: block;
}

.project-tile {
    font-size: 2rem;
    font-family: var(--font2);
    color: var(--color-white);
    padding: 2rem 0.5rem;
    background-color: var(--color-gray);
}


.sub-p-title {
    color: var(--color-gray);
    font-size: 1.9rem;
    margin-top: 20px;
    transition: color 0.3s ease-out;
    padding:0 5px;
}

.card:hover .sub-p-title,
.card:active .sub-p-title {
    color:var(--color-red);
}

.btn-style {
    font-family: var(--font2);
    font-size: 2rem;
    color: var(--color-white);
    letter-spacing: 1.5px;
    background-color: var(--color-gray);
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: 2px;
}

.btn {
    transition: background-color 0.5s ease-out;
}

.btn:hover,
.btn:active {
    background-color: var(--color-red);
}

.btn:hover > i,
.btn:active > i  {
    transform: translateX(4px);
}

.btn > i {
    margin-left: 5px;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

/* CONTACT SECTION */

#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--color-gray);
    height: 80vh;
}

#contact p {
    font-family: var(--font2);
    font-size: 2rem;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 12px;
}

#contact nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#profile-link > i {
    margin-right: 6px;
}

#profile-link:hover,
#profile-link:active {
    transform: translateY(10px);
}

#profile-link {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

/* FOOTER */

#footer {
    background-color: var(--color-gray);
    border-top: 0.5rem solid var(--color-red);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#footer p {
    color: var(--color-white);
    font-family: var(--font2);
    font-size: 1.5rem;
}

@media only screen and (max-width:800px) {
    #contact nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    #footer {
        background-color: var(--color-gray);
        border-top: 0.5rem solid var(--color-red);
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
}